.Button {
  border-radius: 5px;
  text-decoration: none;
  padding: 0.2rem 0.7rem;
  display: inline-block;

  &--green {
    border: 1px solid #3b8070;
    color: #3b8070;
  }

  &--green:hover {
    color: #fff;
    background-color: #3b8070;
  }

  &--grey {
    border: 1px solid #35495e;
    color: #35495e;
  }

  &--grey:hover {
    color: #fff;
    background-color: #35495e;
  }
}

.Input {
  padding: 0.2rem;
  border-radius: 5px;
  display: block;
}

.slide-fade-leave-active,
.slide-fade-enter-active {
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-in-leave-active,
.slide-in-enter-active {
  transition: all 0.3s ease-in-out;
  // transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px) rotate(25deg);
  opacity: 0;
}

.slide-in-enter,
.slide-in-leave-to {
  transform: translateX(-30px);
  opacity: 0;
}
