<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Libre+Baskerville:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");

html {
  font-family: "Fira Mono", monospace;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.font-hand {
  font-family: "Homemade Apple", cursive;
}
</style>
