<template>
  <section class="MainGameWrapper">
    <div v-if="loading">Loading...</div>
    <nuxt-child />
  </section>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      loading: false,
    };
  },
  mounted() {
    this.loading = true;
    setTimeout(() => {
      if (localStorage.playerName) {
        const playerName = localStorage.playerName;
        this.$store.dispatch("map/setPlayerName", playerName);
        this.$router.push("/adventure/go");
        this.loading = false;
      } else {
        this.loading = false;
      }
    }, 500);
  },
});
</script>

<style>
.MainGameWrapper {
  min-height: 100vh;
  width: 100%;
}
</style>
